<html>
<head>
<meta charset="UTF-8" />
<script src="/static/js/jquery2.14.js"></script>
<script src="/static/js/highcharts.js"></script>
</head>
<body>
<div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>

<script language="JavaScript">
$(document).ready(function() {
   var chart = {
      type: 'column'
   };
   var title = {
      text: '用户代码上传总量统计'
   };
   var subtitle = {
      text: ''
   };
   var xAxis = {
      categories: ["alex", "bob", "kate"],
      crosshair: false
   };
   var yAxis = {
      min: 0,
      title: {
         text: '代码行数'
      }


   };
   var tooltip = {
   };

   var plotOptions = {
      column: {
         pointPadding: 0.2,
         borderWidth: 0,
          dataLabels: {
            inside: true
        }
      }
   };
   var credits = {
      enabled: false
   };

   var series= [
       {name: '本周', data: [200, 300, 600]},
       {name: '本月', data: [400, 700, 900]},
       {name: '总计', data: [1000, 1600, 3400]},
   ];

   var json = {};
   json.chart = chart;
   json.title = title;
   json.subtitle = subtitle;
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.series = series;
   json.plotOptions = plotOptions;
   json.credits = credits;
   $('#container').highcharts(json);

});
</script>
</body>
</html>