{% extends 'codes/index.html' %}


{% block content %}
<h1>用户列表页</h1>
<hr>
    <a href="/upload"><button class="btn btn-success"><span class="glyphicon glyphicon-plus"
                                                                aria-hidden="true">&nbsp;代码上传</span></button></a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>ID</td>
            <td>用户名</td>
            <td>选项</td>
        </tr>
    </thead>
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.0 }}</td>
            <td>{{ item.1 }}</td>
            <td><a href="/users/{{ item.0 }}"><button class="btn btn-info">查看代码记录</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}